<nav class="navbar navbar-expand-md sticky-top bg-white">
    <div class="container">
      <a class="navbar-brand" href="discover">RecipeSwap</a>
      <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../public/images/1200px-Hamburger_icon_white.svg" width="30" height="30" alt="">
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="navbar-nav nav-pills">
          <li class="nav-item ms-3">
            <a class="nav-link <%= (page=='discover')?'active text-white':'' %>" href="discover">Discover</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link <%= (page=='share')?'active text-white':'' %>" href="share">Share</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link <%= (page=='cooking')?'active text-white':'' %>" href="cooking">Cooking Tips</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link <%= (page=='health')?'active text-white':'' %>" href="health">Health Tips</a>
          </li>
          <% if (username) {%>
            <li class="nav-item ms-3">
              <a class="nav-link <%= (page=='myaccount')?'active text-white':'' %>" href="myaccount">My account</a>
            </li>
            <% } %>
          <li class="nav-item ms-3">
            <a class="nav-link <%= (page=='login')?'active text-white':'' %>" href="<%= username?'logout':'login'%>"><%= username?'Logout':'Login'%></a>
          </li>
        </ul>
        <!-- <%= page %> -->
      </div>
    </div>
  </nav>